@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    @apply bg-[#c4c4c4] text-white;
  }
}

.textStyle {
  background: linear-gradient(to right, #454975 40%, #ff9a03 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  background: linear-gradient(135deg, #111861, #ffff, #925800);
  min-height: 100vh;
}
