@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import "tailwindcss";
@plugin "daisyui";

@layer base {
  body {
    @apply text-white;
    background: linear-gradient(
      135deg,
      #595e94 20%,
      #eeeded31 50%,
      #f091039f 100%
    );
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
  }
}

.textStyle {
  background: linear-gradient(
    to right,
    #ffffff -40%,
    #616594 50%,
    #ff9a03 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
